
.container-modal-state{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(226, 229, 234, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}
.modal-state{
    width: 540px;
    height: 385px;
    border: 1px solid #D9DEE2;
    border-radius: 10px;
    transform: translateY(-60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #FFF; 
    box-shadow: 0 5px 20px rgba(217,222,225,08);
}
.content-modal-state{
    width: 100%;
    height: 100%;
    /* background: orange; */
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 25px 25px 25px;
}
.content-body-state{
    width: 100%;
    /* background: palegreen; */
}
.header-state{
    width: 100%;
    height: 35px;
    /* background: orange; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-state-pay{
    font-size: 20px;
}
.button-close-pay{
    width: 35px;
    height: 100%;
    background: red;
    border: none;
    display: flex;
    align-items: center;
    background: #FFF;
    transform: translateX(6px);
    cursor: pointer;
}
.button-close-pay svg{
    width: 100%;
    height: 100%;
}
.input-name-state{
    width: 100%;
    height: 42px;
    /* background: green; */
    position: relative;
    margin-top: 30px;
}
.input-name-state input{
    width: 100%;
    height: 100%;
    border: 1px solid #A0ACBA;
    border-radius: 3px;
}
.title-name-state{
    position: absolute; 
    top: -25px;
    left: 0;
}

.input-description-state{
    width: 100%;
    height: 140px;
    /* background: green; */
    position: relative;
    margin-top: 35px;

}
.input-description-state textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid #A0ACBA;
    border-radius: 3px;
}
.title-description-state{
    position: absolute;
    top: -25px;
    left: 0;
}
.futter-state{
    width: 100%;
    height: 42px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.button-save-state{
    width: 120px;
    height: 100%;
}
.button-cancel-state{
    width: 120px;
    height: 100%;
    border: 1px solid #A0ACBA;
}